.skill-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.skill {
    margin: 15px 0;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.progress-bar {
    position: relative;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50; /* Зеленый цвет для прогресса */
    width: 0;
    border-radius: 10px;
    transition: width 2s ease;
}

.progress-bar[data-skill="90"]:before {
    width: 90%;
}

.progress-bar[data-skill="80"]:before {
    width: 80%;
}

.progress-bar[data-skill="95"]:before {
    width: 95%;
}
